<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sample Payment</title>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
</head>
<body>
<button onclick="requestPay()">결제하기</button>

<script th:inline="javascript">
  const paymentData = {
    pg: /*[[${paymentRequest.pg}]]*/ "",
    pay_method: /*[[${paymentRequest.paymentMethod}]]*/ "",
    name: /*[[${paymentRequest.name}]]*/ "",
    merchant_uid: /*[[${paymentRequest.merchantUid}]]*/ "",
    amount: (/*[[${paymentRequest.totalPrice}]]*/ 0),
    buyer_email: /*[[${paymentRequest.buyerEmail}]]*/ ""
  };
</script>

<script>
  const IMP = window.IMP;
  IMP.init("imp82703454");

  function requestPay() {
    IMP.request_pay(
            {
              channelKey: "channel-key-b354e446-eca5-4b18-b89f-c9baab33bce0",
              pg: paymentData.pg,
              pay_method: paymentData.pay_method,
              name: paymentData.name,
              merchant_uid: paymentData.merchant_uid,
              amount: paymentData.amount,
              buyer_email: paymentData.buyer_email
            },
            function (rsp) {
              if (rsp.success) {
                console.log(rsp)
                // imp_uid만 추출해서 alert로 표시
                const message = `결제 성공\nimp_uid: ${rsp.imp_uid}`;
                alert(message);
              } else {
                console.log(rsp)
                alert("결제에 실패했습니다: " + rsp.error_msg);
              }
            },
    );
  }
</script>
</body>
<div id="paymentResult" style="margin-top: 20px; white-space: pre-wrap;"></div>
</html>